In [1]:
import pandas as pd
customers = pd.read_csv("../Source Data/olist_customers_dataset.csv")
orders=pd.read_csv("../Source Data/olist_orders_dataset.csv")
geo=pd.read_csv("../Source Data/olist_geolocation_dataset.csv")
payments=pd.read_csv("../Source Data/olist_order_payments_dataset.csv")
cart_items=pd.read_csv("../Source Data/olist_order_items_dataset.csv")
products=pd.read_csv("../Source Data/olist_products_dataset.csv")
sellers=pd.read_csv("../Source Data/olist_sellers_dataset.csv")
reviews=pd.read_csv("../Source Data/olist_order_reviews_dataset.csv")
product_cat_translation=pd.read_csv("../Source Data/product_category_name_translation.csv")
closed_deals=pd.read_csv("../Source Data/olist_closed_deals_dataset.csv")
marketing_qualified_leads=pd.read_csv("../Source Data/olist_marketing_qualified_leads_dataset.csv")

In [3]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB

In [4]:
payments.duplicated("order_id").sum()

4446

In [27]:
dup=(payments.groupby("order_id").size())

dup.sort_values(ascending=False).head(10)

order_id
fa65dad1b0e818e3ccc5cb0e39231352    29
ccf804e764ed5650cd8759557269dc13    26
285c2e15bebd4ac83635ccc563dc71f4    22
895ab968e7bb0d5659d16cd74cd1650c    21
fedcd9f7ccdc8cba3a18defedd1a5547    19
ee9ca989fc93ba09a6eddc250ce01742    19
4bfcba9e084f46c8e3cb49b0fa6e6159    15
21577126c19bf11a0b91592e5844ba78    15
3c58bffb70dcf45f12bdf66a3c215905    14
4689b1816de42507a7d63a4617383c59    14
dtype: int64

In [15]:
payments["payment_type"].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [26]:
payments.loc[payments["order_id"]=='fa65dad1b0e818e3ccc5cb0e39231352']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
4885,fa65dad1b0e818e3ccc5cb0e39231352,27,voucher,1,66.02
9985,fa65dad1b0e818e3ccc5cb0e39231352,4,voucher,1,29.16
14321,fa65dad1b0e818e3ccc5cb0e39231352,1,voucher,1,3.71
17274,fa65dad1b0e818e3ccc5cb0e39231352,9,voucher,1,1.08
19565,fa65dad1b0e818e3ccc5cb0e39231352,10,voucher,1,12.86
23074,fa65dad1b0e818e3ccc5cb0e39231352,2,voucher,1,8.51
24879,fa65dad1b0e818e3ccc5cb0e39231352,25,voucher,1,3.68
28330,fa65dad1b0e818e3ccc5cb0e39231352,5,voucher,1,0.66
29648,fa65dad1b0e818e3ccc5cb0e39231352,6,voucher,1,5.02
32519,fa65dad1b0e818e3ccc5cb0e39231352,11,voucher,1,4.03
36822,fa65dad1b0e818e3ccc5cb0e39231352,14,voucher,1,0.00
39108,fa65dad1b0e818e3ccc5cb0e39231352,29,voucher,1,19.26
39111,fa65dad1b0e818e3ccc5cb0e39231352,28,voucher,1,29.05
63369,fa65dad1b0e818e3ccc5cb0e39231352,15,voucher,1,14.04
65641,fa65dad1b0e818e3ccc5cb0e39231352,3,voucher,1,2.95
68853,fa65dad1b0e818e3ccc5cb0e39231352,8,voucher,1,26.02
73537,fa65dad1b0e818e3ccc5cb0e39231352,12,voucher,1,3.60
74239,fa65dad1b0e818e3ccc5cb0e39231352,21,voucher,1,4.11
74721,fa65dad1b0e818e3ccc5cb0e39231352,19,voucher,1,5.02
77885,fa65dad1b0e818e3ccc5cb0e39231352,13,voucher,1,0.00
78050,fa65dad1b0e818e3ccc5cb0e39231352,16,voucher,1,12.86
79587,fa65dad1b0e818e3ccc5cb0e39231352,26,voucher,1,28.27
79670,fa65dad1b0e818e3ccc5cb0e39231352,17,voucher,1,3.72
80321,fa65dad1b0e818e3ccc5cb0e39231352,18,voucher,1,0.73
82593,fa65dad1b0e818e3ccc5cb0e39231352,7,voucher,1,0.32
85166,fa65dad1b0e818e3ccc5cb0e39231352,23,voucher,1,18.86
93337,fa65dad1b0e818e3ccc5cb0e39231352,20,voucher,1,150.00
99213,fa65dad1b0e818e3ccc5cb0e39231352,24,voucher,1,0.42
100606,fa65dad1b0e818e3ccc5cb0e39231352,22,voucher,1,4.03

In [28]:
payments.groupby("payment_type")["payment_installments"].unique()

payment_type
boleto                                                       [1]
credit_card    [8, 1, 2, 3, 6, 5, 4, 10, 7, 12, 9, 13, 15, 24...
debit_card                                                   [1]
not_defined                                                  [1]
voucher                                                      [1]
Name: payment_installments, dtype: object

In [47]:
a=(payments.loc[payments["payment_installments"]>1])

a.groupby("order_id").size().sort_values(ascending=False).head(10)

order_id
687827c3a3bcdf03c6956d9bbe263ed5    2
08eb6a0ddc93b1cf16dd629389dc691b    2
da335e512c5172e253ee80cb42acf8aa    2
f6bc6adf1c408945d9032cad7c5b07ce    2
23c4889b86a761e3cc76cecad70bff4f    2
53be479f3b3486d26abed234b365a359    2
c8cd8e0f700ac1654cd0b3fe26ff99e9    2
be8b6bb87fabe5bece6e7a3ecc1f1f8d    2
575c25ea64e39b4c7bcd67d46a1fd1c9    2
c6d3ba7aef0216cb6c540497c845f0ba    2
dtype: int64

In [48]:
payments.loc[payments["order_id"]=='da335e512c5172e253ee80cb42acf8aa']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
19781,da335e512c5172e253ee80cb42acf8aa,1,credit_card,8,86.07
75572,da335e512c5172e253ee80cb42acf8aa,2,credit_card,3,31.05