In [2]:
import pandas as pd 
df_master=pd.read_csv("../Processed Data/prd_master_orders_customers.csv")

In [3]:

df_master['order_purchase_timestamp'] = pd.to_datetime(df_master['order_purchase_timestamp'])



total_spend_per_cust = df_master.groupby('customer_unique_id')['total_payment_value'].sum().reset_index()
total_spend_per_cust.columns = ['customer_unique_id', 'total_lifetime_spend']


df_regression = df_master[df_master['is_first_order'] == 1].copy()


df_regression = df_regression.merge(total_spend_per_cust, on='customer_unique_id', how='left')


df_regression['label_next_order_value'] = (
    df_regression['total_lifetime_spend'] - df_regression['total_payment_value']
)



df_regression['label_next_order_value'] = df_regression['label_next_order_value'].fillna(0).clip(lower=0)

In [4]:
# Create the "Repeaters Only" dataset for regression
df_repeaters_only = df_regression[df_regression['label_next_order_value'] > 0].copy()

print(f"Total Rows: {len(df_regression)}")
print(f"Repeaters Rows: {len(df_repeaters_only)}")

Total Rows: 94990
Repeaters Rows: 2888

In [5]:
df_repeaters_only.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888 entries, 106 to 94944
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   customer_id                 2888 non-null   object
 1   order_id                    2888 non-null   object
 2   order_purchase_timestamp    2888 non-null   datetime64[ns]
 3   snapshot_date               2888 non-null   object
 4   is_repeat_customer          2888 non-null   int64
 5   past_order_count            2888 non-null   int64
 6   days_since_last_order       2888 non-null   int64
 7   is_first_order              2888 non-null   int64
 8   customer_unique_id          2888 non-null   object
 9   customer_zip_code_prefix    2888 non-null   int64
 10  customer_city               2888 non-null   object
 11  customer_state              2888 non-null   object
 12  tot_customers_in_zip        2888 non-null   float64
 13  tot_sellers_in_zip          2888 non-null   float64
 14  geolocation_lat             2888 non-null   float64
 15  geolocation_lng             2888 non-null   float64
 16  is_latlng_missing           2888 non-null   int64
 17  n_distinct_categories       2887 non-null   float64
 18  main_category               2887 non-null   object
 19  avg_photos_per_product      2850 non-null   float64
 20  avg_desc_length             2850 non-null   float64
 21  avg_weight                  2886 non-null   float64
 22  avg_volume                  2887 non-null   float64
 23  max_weight                  2886 non-null   float64
 24  max_volume                  2887 non-null   float64
 25  total_price                 2887 non-null   float64
 26  min_price                   2887 non-null   float64
 27  max_price                   2887 non-null   float64
 28  avg_price                   2887 non-null   float64
 29  total_freight_value         2887 non-null   float64
 30  avg_freight_value           2887 non-null   float64
 31  total_order_value           2887 non-null   float64
 32  avg_order_value             2887 non-null   float64
 33  min_order_value             2887 non-null   float64
 34  max_order_value             2887 non-null   float64
 35  total_items                 2887 non-null   float64
 36  min_items                   2887 non-null   float64
 37  max_items                   2887 non-null   float64
 38  review_count                2862 non-null   float64
 39  avg_review_score            2862 non-null   float64
 40  avg_review_length           1203 non-null   float64
 41  has_review_text             2862 non-null   float64
 42  min_review_score            2862 non-null   float64
 43  max_review_score            2862 non-null   float64
 44  pymt_mode_boleto            2888 non-null   float64
 45  pymt_mode_credit_card       2888 non-null   float64
 46  pymt_mode_debit_card        2888 non-null   float64
 47  pymt_mode_not_defined       2888 non-null   float64
 48  pymt_mode_voucher           2888 non-null   float64
 49  avg_payment_installments    2888 non-null   float64
 50  total_payment_installments  2888 non-null   float64
 51  total_payment_value         2888 non-null   float64
 52  total_lifetime_spend        2888 non-null   float64
 53  label_next_order_value      2888 non-null   float64
dtypes: datetime64[ns](1), float64(40), int64(6), object(7)
memory usage: 1.2+ MB

In [6]:
df_repeaters_only.to_csv("../Processed Data/prd_loyal_customers_ordervalue.csv", index=False)